<template>
 <Toast />
  <p>Начало разработки</p>

  
  
  <Card style="width: 35em; height: 350px; vertical-align: middle">
    <template #header>
    <!--  <img alt="user header" src="@/assets/person.png" /> -->
    </template>
    <template #title> Карточка студента </template>
    <template #content>

      <span class="p-float-label" >
        <InputText id="surename" type="text" v-model="student.sureName" style="width: 60%" />
        <label for="surename">Фамилия</label>
      </span>
      <br>
      <span class="p-float-label" >
        <InputText id="firstName" type="text" v-model="student.firstName" style="width: 60% " />
        <label for="firstName">Имя</label>
      </span>
      <br>
      <span class="p-float-label" >
        <InputText id="middleName" type="text" v-model="student.middleName" style="width: 60% " />
        <label for="middleName">Отчество</label>
      </span>
      <br>
    </template>
    <template #footer>
      <Button  @click="saveStudent" icon="pi pi-check" label="Сохранить" />
      <Button
        icon="pi pi-times"
        label="Отменить"
        class="p-button-secondary"
        style="margin-left: 0.5em"
      />

     

    </template>
  </Card>
    <Button  @click="getAllStudents" icon="pi pi-check" label="Получить список студентов" />

  <DataTable :value="students">
    <Column field="firstName" header="Имя"></Column>
    <Column field="sureName" header="Фамилия"></Column>
    <Column field="middleName" header="Отчество"></Column>
    <Column field="birthDate" header="Дата рождения"></Column>
    <Column field="yearOfStudy" header="Курс"></Column>
    <Column field="yearOfStudy" header="Группа"></Column>
  </DataTable>


</template>



<script>
export default {
  name: "App",
  components: {}, 
    mounted() {
  
  },
  data() {
    return {
  
      students: null,

      student: {
        firstName: null,
        sureName : null,
        middleName : null,
        birthDate : null,
        yearOfStudy : null,
        studentGroup : null
      },
    }
  },

  methods: {
    saveStudent()
    {
      console.log('Сохранение студента ==>', this.student.firstName, ' '+this.student.middleName, ' '+this.student.sureName);
      this.axios.post('http://localhost:9797/students',this.student)
       .then(response => {console.log('Сохранен студент => ',response.data);
       let student = response.data;
       this.$toast.add({
      severity: 'success',
      detail: student.sureName+" "+student.firstName+" "+student.middleName,
      life: 3000,
    });
       })
        .catch(error => {
        if (error.response) {
                        console.log("Ошибка ответа сервера:", error.response.data)
                        console.log("Статус ошибки ответа: ", error.response.status)
                        console.log("Заголовки ошибки ответа: ", error.response.headers)

                    } else if (error.request) {
                        console.log("Не получен ответ на запрос: ", error.request)
                              this.$toast.add({
                    severity: 'error',
                  detail: 'Ошибка сохранения студента',
                  life: 3000,
                });
                    } else {
                        console.log('Ошибка отправки запроса: ', error.message);
                    }
                    if (error.config) {
                        console.log('Ошибка конфигурации: ', error.config);
                    }
    });
    },

    getAllStudents()
    {
      console.log('Получение полного списка студентов');
      this.axios.get('http://localhost:9797/students',this.student)
       .then(response => {console.log(' Получен список студентов => ',response.data);
          this.students = response.data
       })
        .catch(error => {
        if (error.response) {
                        console.log("Ошибка ответа сервера:", error.response.data)
                        console.log("Статус ошибки ответа: ", error.response.status)
                        console.log("Заголовки ошибки ответа: ", error.response.headers)
                    } else if (error.request) {
                        console.log("Не получен ответ на запрос: ", error.request)
                    } else {
                        console.log('Ошибка отправки запроса: ', error.message);
                    }
                    if (error.config) {
                        console.log('Ошибка конфигурации: ', error.config);
                    }
    });
    }
  }

};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
